{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenAI generated image content",
    "version": "1.0.0",
    "description": "The download carried by the opaque URL of an Image. The vendor publishes no fixed download path; /generated-images/{file} is the twin's opaque returned URL, never a path assembled by a client."
  },
  "servers": [
    {
      "url": "https://api.openai.com"
    }
  ],
  "paths": {
    "/generated-images/{file}": {
      "get": {
        "operationId": "downloadGeneratedImage",
        "summary": "Read a generated image at the returned URL",
        "description": "The URL of the generated image. URLs are only valid for 60 minutes after the image has been generated.",
        "parameters": [
          {
            "name": "file",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sig",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The generated image bytes.",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "No image available at this URL."
          }
        }
      }
    }
  }
}
