{
  "openapi": "3.0.3",
  "info": {
    "title": "Linear OAuth 2.0",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://api.linear.app"
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "operationId": "oauthToken",
        "summary": "Exchange an authorization code, or a refresh token, for an access token",
        "externalDocs": {
          "url": "https://linear.app/developers/oauth-2-0-authentication"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  },
                  "redirect_uri": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  },
                  "refresh_token": {
                    "type": "string"
                  },
                  "scope": {
                    "type": "string"
                  },
                  "actor": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "the token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string"
                    },
                    "expires_in": {
                      "type": "integer"
                    },
                    "scope": {
                      "type": "string"
                    },
                    "refresh_token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "an OAuth2 error"
          }
        }
      }
    },
    "/oauth/revoke": {
      "post": {
        "operationId": "oauthRevoke",
        "summary": "Revoke an access token",
        "externalDocs": {
          "url": "https://linear.app/developers/oauth-2-0-authentication"
        },
        "responses": {
          "200": {
            "description": "revoked"
          }
        }
      }
    }
  }
}